<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="offset-2 col-8 ">


      <%= form_with model: @customer, url: customer_path(current_customer.id),local: true do |f| %>

        <h4><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h4>

        <table class ="my-5 mx-5">

        <tr>
          <td>氏名</td>
          <td><%= f.text_field :last_name %><%= f.text_field :first_name %></td>
        </tr>

        <tr>
          <td>フリガナ</td>
          <td><div><%= f.text_field :last_name_kana %><%= f.text_field :first_name_kana %></div></td>
        </tr>

        <tr>
          <td>郵便番号</td>
          <td><%= f.text_field :postal_code %></td>
        </tr>

        <tr>
          <td>住所</td>
          <td><%= f.text_field :address %></td>
        </tr>

        <tr>
          <td>電話番号</td>
          <td><%= f.text_field :telephone_number %></td>
        </tr>

        <tr>
          <td>メールアドレス</td>
          <td><%= f.text_field :email %></td>
        </tr>


      </table>



          <div><%= f.submit '変更内容を保存', class: 'btn btn-success' %><%=link_to "退会する", check_path(current_customer.id), class: 'btn btn-danger' %></div>
        <% end %>
      </div>
    </div>
  </div>