<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-md-6">

          <p><%= attachment_image_tag @product, :image, size: "200x150", format: 'jpeg' %></p>
    </div>
    <div class = "col-md-6 ">
          <h4><%= @product.title %></h4>

          <p><%= @product.body %></p>

          <h6><strong>￥<%= (@product.price*1.1).floor %></strong>（税込）</h6>



          <p>個数選択</p>

          <%= form_with model: @cart_item, local: true do |f| %>

          <%= f.hidden_field :customer_id, value: current_customer.id %>
          <%= f.hidden_field :product_id, value: @product.id %>

          <%= f.select :amount, *[1..10] %>

          <%= f.submit "カートに入れる", class: 'btn btn-success' %>


          <% end %>


       </div>
    </div>
</div>