<p>商品画像</p>

<h4><%= @product.title %></h4>

<p><%= @product.body %></p>

<h4>￥<%= (@product.price*1.1).floor %>（税込）</h4>



<p>個数選択</p>

<%= form_with model: @cart_item, local: true do |f| %>

<%= f.hidden_field :customer_id, value: current_customer.id %>
<%= f.hidden_field :product_id, value: @product.id %>

<%= f.select :amount, *[1..10] %>
<%= f.submit "カートに入れる" %>


<% end %>