<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx auto">

     <div class="p-3 mb-2 bg-muted text-dark"></div>

      <%= form_with model: @customer, url: admin_customer_path(@customer.id),local: true do |f| %>

        <h4><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h4>


        <tr>
        <td><h4>会員ID</h4></td>
        <td><div><%= @customer.id %></div></td>
        </tr>

        <tr>
          <td><h4>氏名</h4></td>
          <td><%= f.text_field :last_name %><%= f.text_field :first_name %></td>
        </tr>

        <tr>
          <td><h4>フリガナ</h4></td>
          <td><div><%= f.text_field :last_name_kana %><%= f.text_field :first_name_kana %></div></td>
        </tr>

        <tr>
          <td><h4>郵便番号</h4></td>
          <td><%= f.text_field :postal_code %></td>
        </tr>

        <tr>
          <td><h4>住所</h4></td>
          <td><%= f.text_field :address %></td>
        </tr>

        <tr>
          <td><h4>電話番号</h4></td>
          <td><%= f.text_field :telephone_number %></td>
        </tr>

        <tr>
          <td><h4>メールアドレス</h4></td>
          <td><%= f.text_field :email %></td>
        </tr>

        <tr>
          <td><h4>会員ステータス</h4></td>
          <td><%= f.label :is_active, '有効' %>
              <%= f.radio_button :is_active, true %>

              <%= f.label :is_active, '退会済み' %>
              <%= f.radio_button :is_active, false %></td>
        </tr>



          <%= f.submit '変更を保存' %>
        <% end %>
      </div>
    </div>
  </div>