<h2>会員一覧</h2>

<table>
   <thead>
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
          <div class="customer-item">
            <section class="customer-text">

              <td><h3 class="customer-heading"><%= customer.id %></h3></td>

              <td><h3 class="customer-heading"><%= customer.last_name %><%= customer.first_name %></h3></td>

              <td><h3 class="customer-heading"><%= customer.email %></h3></td>

              <td><h3 class="customer-heading"><%= customer.is_active %></h3></td>

              <td><%= link_to "詳細", admin_customer_path(customer.id) %></td>

              <td><%= link_to "編集", edit_admin_customer_path(customer.id) %></td>

            </section>
          </div>
        </tr>
     <% end %>
  </tbody>
</table>
