<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 mx-auto">
      <h4 class="my-3 ml-3">会員一覧</h4>

          <table cellpadding="6">
             <thead>
              <tr>
                <th>会員ID</th>
                <th>氏名</th>
                <th>メールアドレス</th>
                <th>ステータス</th>
              </tr>
            </thead>

            <tbody>
              <% @customers.each do |customer| %>
                <tr>
                    <div class="customer-item">
                      <section class="customer-text">

                        <td class="customer-heading"><%= customer.id %></td>

                        <td class="customer-heading"><%= link_to admin_customer_path(customer.id) do %><%= customer.last_name %><%= customer.first_name %><% end %></td>

                        <td class="customer-heading"><%= customer.email %></td>

                        <td class="customer-heading"><%= customer.is_active ? '有効' : '退会' %> </td>


                      </section>
                    </div>
                  </tr>
               <% end %>
            </tbody>

          </table>

      </div>
    </div>
  </div>
