<div>
  <div>
      <h4>配送先登録/一覧</h4>
      <label>郵便番号</label>
      <label>住所</label>
      <label>宛名</label>

    <%= form_with model: @delivery, local:true do |f| %>


          <%= f.text_field :postal_code %>


          <%= f.text_field :address %>


          <%= f.text_field :name %>

          <%= f.submit '新規登録' %>

        <% end %>
    </div>

    <div>
      <table class = "delivery-table">
                  <th>郵便番号</th>
                  <th>住所</th>
                  <th>宛名</th>
                  <th></th>
        <% @deliveries.each do |delivery| %>
            <tr>
              <thead>
                <tr>

                </tr>
              </thead>

              <tbody>
                <tr>
                  <td><%= delivery.postal_code %></td>
                  <td><%= delivery.address %></td>
                  <td><%= delivery.name %></td>
                  <td><%= link_to "編集する", edit_delivery_path(delivery.id), class: 'btn btn-success'  %>
                      <%= link_to "削除する", delivery_path(delivery.id), method: :delete,"data-confirm" => "本当に削除しますか？", class: 'btn btn-danger' %></td>
                </tr>
              </tbody>
            </tr>
          <% end %>
      </table>

    </div>

  </div>

