<div class = "container" >

<div "row">
  <h4>注文履歴詳細</h4>

  <p>注文情報</p>
  <table>
    <tr>
    <td>購入者</td>
    <td><%= @order.customer.last_name %><%= @order.customer.first_name %></td>
  </tr>
  <tr>
    <td>注文日</td>
    <td><%= @order.updated_at.strftime('%Y/%m/%d') %></td>
  </tr>
  <tr>
    <td>配送先</td>
    <td>〒<%= @order.postal_code %><%= @order.address %></br>
        <%= @order.name %>
    </td>
  </tr>
  <tr>
    <td>支払方法</td>
    <td><%= @order.payment_method_i18n %></td>
  </tr>
  </table>

  <div class = "row">

    <div class = "col-md-8" >

      <table class = "table table-bordered">

        <p>注文内容</p>

        <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
        </tr>

            <% @order.order_details.each do |order_detail| %>
          　<tr>
          　　<td><%= order_detail.product.title %></td>
              <td><%= (order_detail.product.price*1.1).floor %></td>
              <td><%= order_detail.amount %></td>
              <td><%= (order_detail.amount*order_detail.product.price*1.1).floor %></td>
            </tr>

          <% end %></u></td>

      </table>
    </div>

    <div class = "col-md-4">

      <p>請求情報</p>

      <table>
        <tr>
          <td>商品合計<td>
          <td><%= @order.total_paymant -= @shipping_cost %>円</td>
        </tr>

        <tr>
          <td>送料<td>
          <td><%= @shipping_cost %>円</td>
        </tr>

        <tr>
          <td>請求額合計</td>
          <td>　　<%= @order.total_paymant %>円</td>
        </tr>
      </table>
    </div>
  </div>
</div>

