<h4>ショッピングカート</h4><p>カートを空にする</p>


<table>
   <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cart_items.each do |cart_item| %>
      <tr>
          <div class="cart-item">
            <section class="cart-text">

              <td><%= cart_item.product.title %></td>

              <td><%= cart_item.product.with_tax_price %></td>

              <td><%= cart_item.amount %><p>変更</p></td>

              <td><%= cart_item.subtotal %></td>
               <% @sum +=  cart_item.subtotal %>

               <td>削除する</td>

            </section>
          </div>
        </tr>
     <% end %>

  </tbody>
</table>

<p>買い物を続ける</p>

<label>合計金額</label>
<div><%= @sum %></div>