<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8 px-5 px-sm-0 mx-auto ">



        <h4>新規登録</h4>

        <table>

            <%= form_with model: @product, url: admin_products_path, local:true do |f| %>

              <tr class="form-group">
                <td>商品画像</td>
                <td><%= f.attachment_field :image,  class: 'btn btn-default btn-outline-secondary' %></td>
              </tr>

              <tr class="form-group">
                <td>商品名</td>
                <td><%= f.text_field :title %></td>
              </tr>

              <tr class="form-group">
                <td>商品説明</td>
                <td><%= f.text_area :body %></td>
              </td>

              <tr class="form-group">
                <td>商品価格</td>
                <td><%= f.text_field :price %>円</td>
              </tr>

            </table>

            <div class= "text-center" ><%= f.submit '新規登録', class: 'btn btn-success' %></div>

      </div>
    </div>
  </div>

  <% end %>